/* CSS Document */

#hdtb_msb {
    display: inline-block;
    float: left;
    position: relative;
    white-space: nowrap;
}

#hdtb_msb .hdtb_mitem.hdtb_imb:first-child {
    margin-left: 120px;
}

#hdtb .hdtb_mitem a {
    color: #777;
}
#hdtb.notl a, #hdtb.notl div, #hdtb.notl li {
    outline: medium none;
}
.hdtb_mitem a {
    display: inline-block;
}
.hdtb_mitem a {
    margin: 0 8px;
    padding: 0 8px;
}