/* CSS Document */
ul, ol, dt, dd {
	padding: 0;
	margin: 0;
}

.menu {
	border-top: 1px solid #919191;
	background: #DADADA;
	position: static;
}

.menu .nav {
	display: inline-block;
	list-style: none;
}

.menu .nav li {
	display: inline;
	float: left;
}

.menu .nav li a {
	display:block;
	font-size: 11px;
	line-height: 15px;
	font-weight: 900;
	padding: 8px 11px 7px;
	color: #484848;
	text-transform: uppercase;
}

